In [55]:
## Import Libraries
import pandas as pd
import numpy as np
import datetime

## 
excel_file = pd.ExcelFile('Analytics Position Case Study.xlsx')

## Function to read different sheets and create columns 
def cleaning(ele):
    input_df = pd.read_excel(excel_file, ele)
    new_header = input_df.iloc[2] 
    input_df = input_df[3:] 
    input_df.columns = new_header
    input_df.reset_index(drop=True, inplace=True)
    input_df.rename_axis(None, axis=1, inplace=True)
    input_df.columns = input_df.columns.str.lower()
    input_df['datetime'] = pd.to_datetime(input_df['datetime']) ## converted to datetime dtype
    return input_df

df_dict ={'game':'User Gameplay data','dep':'Deposit Data','with':'Withdrawal Data'}

# for key,value in df_dict.items():
#     key +'_df'=cleaning(element)
print(" Below dfs are created for respective data :")
for key,value in df_dict.items():
    exec(f'{key}_df = cleaning(value)')
    print(f'{key}_df')

 Below dfs are created for respective data :
game_df
dep_df
with_df

In [ ]:
### In each table, create session - S1 & S2 based on time
### Union all the dataframe and select distinct of UserID,date,session = Main table
#### Do group by on date and session and take sum of (game played, deposit,withdrwaal)
### (left) Join Main table with the 3 group by table on userid,date & session
### Replace null with 0 in main table
## Finally we will have user Id, Date,Session , GamesPlayed,Deposit ,Withdrwaal

In [57]:
game_df['time'] = pd.to_datetime(game_df['datetime']).time

AttributeError: 'Series' object has no attribute 'time'

In [54]:
game_df['time'] = pd.to_datetime(game_df['time'])

TypeError: <class 'datetime.time'> is not convertible to datetime

In [51]:
game_df.head(-20)
game_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 355266 entries, 0 to 355265
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user id       355266 non-null  object
 1   games played  355266 non-null  object
 2   datetime      355266 non-null  datetime64[ns]
 3   time          355266 non-null  object
dtypes: datetime64[ns](1), object(3)
memory usage: 10.8+ MB

In [49]:
game_df['slot'] = np.where(game_df['time']< '12:00:00', "S1", "S2")

TypeError: '<' not supported between instances of 'datetime.time' and 'str'

In [19]:
df3 = game_df.merge(dep_df, on=['use'], how='left', indicator=True)

KeyError: 'use'

In [17]:
game_df.head()

  user id games played             datetime
0     851            1  2022-01-10 00:00:00
1     717            1  2022-01-10 00:00:00
2     456            1  2022-01-10 00:00:00
3     424            1  2022-01-10 00:00:00
4     845            1  2022-01-10 00:00:00

In [15]:
with_df.head()

  User Id             Datetime Amount
0     190  2022-01-10 00:03:00   5872
1     159  2022-01-10 00:16:00   9540
2     164  2022-01-10 00:24:00    815
3     946  2022-01-10 00:29:00  23000
4     763  2022-01-10 00:40:00   9473

In [13]:
merged_df=pd.merge(game_df,dep_df, left_on='User ID', right_on='User Id', how='outer')['']

In [14]:
merged_df.head()

,User ID,Games Played,Datetime_x,User Id,Datetime_y,Amount
0,851,1,2022-01-10 00:00:00,851,2022-02-10 07:03:00,200
1,851,1,2022-01-10 00:00:00,851,2022-02-10 16:42:00,200
2,851,1,2022-01-10 00:00:00,851,2022-03-10 08:40:00,100
3,851,1,2022-01-10 00:00:00,851,2022-04-10 02:03:00,1500
4,851,1,2022-01-10 00:00:00,851,2022-04-10 12:32:00,400