In [258]:
import pandas as pd
import numpy as np
import datetime

In [259]:
excel_file = pd.ExcelFile('Analytics Position Case Study.xlsx')

In [260]:
## Function to read different sheets and create columns 
def cleaning(ele):
    input_df = pd.read_excel(excel_file, ele)
    new_header = input_df.iloc[2] 
    input_df = input_df[3:] 
    input_df.columns = new_header
    input_df.reset_index(drop=True, inplace=True)
    input_df.rename_axis(None, axis=1, inplace=True)
    print(ele)
    return input_df

df_dict ={'game':'User Gameplay data','dep':'Deposit Data','with':'Withdrawal Data'}

# for key,value in df_dict.items():
#     key +'_df'=cleaning(element)

for key,value in df_dict.items():
    exec(f'{key}_df = cleaning(value)')

User Gameplay data
Deposit Data
Withdrawal Data

In [262]:
print(game_df.head())
print(dep_df.head())
print(with_df.head())

  User ID Games Played             Datetime
0     851            1  2022-01-10 00:00:00
1     717            1  2022-01-10 00:00:00
2     456            1  2022-01-10 00:00:00
3     424            1  2022-01-10 00:00:00
4     845            1  2022-01-10 00:00:00
  User Id             Datetime Amount
0     357  2022-01-10 00:03:00   2000
1     776  2022-01-10 00:03:00   2500
2     492  2022-01-10 00:06:00   5000
3     803  2022-01-10 00:07:00   5000
4     875  2022-01-10 00:09:00   1500
  User Id             Datetime Amount
0     190  2022-01-10 00:03:00   5872
1     159  2022-01-10 00:16:00   9540
2     164  2022-01-10 00:24:00    815
3     946  2022-01-10 00:29:00  23000
4     763  2022-01-10 00:40:00   9473

In [264]:
deposit_df.count()

Column Definition\n\n1. User Id: unique id for every user\n\n2. Amount: amount deposited by user\n\n3. Datetime: Timestamp    17439
Unnamed: 1                                                                                                                    17439
Unnamed: 2                                                                                                                    17439
dtype: int64

In [265]:
ele ='User Gameplay data'
print(ele)
input_df = pd.read_excel(excel_file, ele)
new_header = input_df.iloc[2] 
input_df = input_df[3:] 
input_df.columns = new_header
input_df.reset_index(drop=True, inplace=True)
input_df.head()

User Gameplay data

2 User ID Games Played             Datetime
0     851            1  2022-01-10 00:00:00
1     717            1  2022-01-10 00:00:00
2     456            1  2022-01-10 00:00:00
3     424            1  2022-01-10 00:00:00
4     845            1  2022-01-10 00:00:00

In [187]:
new_header2 = deposit_df.iloc[2] 
deposit_df = deposit_df[3:] 
deposit_df.columns = new_header2
deposit_df.reset_index(drop=True, inplace=True)
deposit_df.rename_axis(None, axis=1, inplace=True)
deposit_df['Datetime'] = pd.to_datetime(deposit_df['Datetime'])
deposit_df.set_index(['Datetime'], inplace=True)
deposit_df.head()

                    User Id Amount
Datetime
2022-01-10 00:03:00     357   2000
2022-01-10 00:03:00     776   2500
2022-01-10 00:06:00     492   5000
2022-01-10 00:07:00     803   5000
2022-01-10 00:09:00     875   1500

In [188]:
new_header3 = withdrawal_df.iloc[2] 
withdrawal_df = withdrawal_df[3:] 
withdrawal_df.columns = new_header3
withdrawal_df.reset_index(drop=True, inplace=True)
withdrawal_df.rename_axis(None, axis=1, inplace=True)
withdrawal_df['Datetime'] = pd.to_datetime(withdrawal_df['Datetime'])
withdrawal_df.set_index(['Datetime'], inplace=True)
withdrawal_df.head()

                    User Id Amount
Datetime
2022-01-10 00:03:00     190   5872
2022-01-10 00:16:00     159   9540
2022-01-10 00:24:00     164    815
2022-01-10 00:29:00     946  23000
2022-01-10 00:40:00     763   9473

In [189]:
withdrawal_df.shape

(3566, 2)

In [190]:
deposit_df.shape

(17438, 2)

In [191]:
gameplay_df.shape

(355266, 2)

In [193]:
qaS1 = gameplay_df.loc['2022-02-10 00:00:00':'2022-02-10 11:59:00']
qaS1.head(10)

                    User ID Games Played
Datetime
2022-02-10 00:00:00     250            1
2022-02-10 00:00:00     418            1
2022-02-10 00:00:00     502            1
2022-02-10 00:00:00     765            1
2022-02-10 00:00:00       8            1
2022-02-10 00:00:00     887            1
2022-02-10 00:00:00     182            1
2022-02-10 00:01:00       5            1
2022-02-10 00:01:00     218            1
2022-02-10 00:01:00     247            1

In [196]:
qbS2 = gameplay_df.loc['2022-10-16 12:00:00':'2022-10-16 23:59:00']
qcS1 = gameplay_df.loc['2022-10-18 00:00:00':'2022-10-18 11:59:00']
qdS1 = gameplay_df.loc['2022-10-26 12:00:00':'2022-10-26 23:59:00']

In [205]:
points = qaS1.groupby(['User ID']).sum()
points['Games Played'] *=0.2

In [206]:
points.head()

         Games Played
User ID
2                 0.4
5                 1.8
6                 0.4
7                 1.0
8                 1.2

In [207]:
qaS11 = deposit_df.loc['2022-02-10 00:00:00':'2022-02-10 11:59:00']
qaS11.head()

/var/folders/dv/0q0rc1qs4qx5gp3g1bdtl6hh0000gn/T/ipykernel_36117/37374693.py:1: FutureWarning: Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is deprecated and will raise a KeyError in a future Version.
  qaS11 = deposit_df.loc['2022-02-10 00:00:00':'2022-02-10 11:59:00']

                    User Id Amount
Datetime
2022-02-10 00:04:00     695    500
2022-02-10 00:07:00     214   2750
2022-02-10 00:07:00     945   5000
2022-02-10 00:08:00     779   5100
2022-02-10 00:09:00     390   2000

In [208]:
points1 = qaS11.groupby(['User Id']).sum()
points1['Amount'] *=0.01

In [209]:
points1.head()

         Amount
User Id
5          6.00
6         40.00
9         35.87
10        20.00
11        20.00

In [210]:
qaS12 = withdrawal_df.loc['2022-02-10 00:00:00':'2022-02-10 11:59:00']
qaS12.head()

/var/folders/dv/0q0rc1qs4qx5gp3g1bdtl6hh0000gn/T/ipykernel_36117/2427088681.py:1: FutureWarning: Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is deprecated and will raise a KeyError in a future Version.
  qaS12 = withdrawal_df.loc['2022-02-10 00:00:00':'2022-02-10 11:59:00']

                    User Id Amount
Datetime
2022-02-10 00:23:00     222  60632
2022-02-10 00:30:00     351   5479
2022-02-10 00:36:00      99  43478
2022-02-10 00:46:00     920  13000
2022-02-10 00:51:00     637   3800

In [211]:
points2 = qaS12.groupby(['User Id']).sum()
points2['Amount'] *=0.01
points2.head()

         Amount
User Id
39       142.00
47        73.17
52        95.20
76        16.59
78       220.00